<% content_for :title, "#{@post.title}" %>

<div class="post-detail">
  <%# Pass show_delete_button: true if user can delete %>
  <%= render @post, show_delete_button: (Current.user && @post.user_id == Current.user.id) %>

  <div class="post-actions">
    <%# Keep Edit button here for now %>
    <% if Current.user && @post.user_id == Current.user.id %>
      <%= link_to "Edit", edit_post_path(@post), class: "button button-secondary" %>
      <%# Delete button moved to partial %>
    <% end %>
    <%# Back to posts button removed %>
  </div>
</div>
